# Ignorar diretório do ambiente virtual
venv/

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.log

# Ignorar banco de dados local
instance/
*.sqlite
*.db

# Ignorar configurações locais do ambiente
.env
.flaskenv

# Ignorar uploads de imagens (se quiser manter localmente)
app/static/uploads/

# Ignorar migrações do Alembic (se necessário)
migrations/

# Ignorar arquivos de cache de editores de código
.vscode/
.idea/