{% extends 'base.html' %}

{% block content %}
<h2>Novo Estado</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="col-md-3">
        {{ form.nome.label(class="form-label") }}
        {{ form.nome(class="form-control") }}
    </div>
        <div class="col-md-1">
        {{ form.sigla.label(class="form-label") }}
        {{ form.sigla(class="form-control") }}
    </div>
    <hr>
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Salvar</button>
    <a href="{{ url_for('routes.listar_estados') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}