{% extends "base.html" %}

{% block content %}
    <h2>Novo Componente</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            {{ form.codigo.label(class="form-label") }}
            {{ form.codigo(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.tipo.label(class="form-label") }}
            {{ form.tipo(class="form-select") }}
        </div>

        <div class="mb-3">
            {{ form.descricao.label(class="form-label") }}
            {{ form.descricao(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.unidade_medida.label(class="form-label") }}
            {{ form.unidade_medida(class="form-select") }}
        </div>

        <div class="mb-3">
            {{ form.consumo.label(class="form-label") }}
            {{ form.consumo(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.preco_unitario.label(class="form-label") }}
            {{ form.preco_unitario(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
        <a href="{{ url_for('routes.listar_componentes') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}