{% extends "base.html" %}

{% block content %}
    <h2>Novo Salário</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            {{ form.preco.label(class="form-label") }}
            {{ form.preco(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.encargos.label(class="form-label") }}
            {{ form.encargos(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
        <a href="{{ url_for('routes.listar_salarios') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
