{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Margens por Remessa</h2>
    <form method="POST">
        <div class="d-flex align-items-center gap-2">
            <select name="remessa" class="form-select select2" style="width: 300px;">
                <option value="">Selecione</option>
                {% for rem in remessas %}
                <option value="{{ rem }}" {% if rem==remessa_selecionada %}selected{% endif %}>
                    {{ rem }}
                </option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
            <a href="{{ url_for('routes.custo_remessa') }}" class="btn btn-secondary btn-sm">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
    </form>


    {% if margem_pedidos %}
    <hr>
    <h4>Resultados</h4>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Pedido</th>
                <th>Remessa</th>
                <th>Nota Fiscal</th>
                <th>Cliente</th>
                <th>Total Preço Venda</th>
                <th>Total Custo</th>
                <th>Lucro Total</th>
                <th>Margem Média (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for margem in margem_pedidos %}
            <tr>
                <td>{{ margem.pedido }}</td>
                <td>{{ margem.remessa}}</td>
                <td>{{ margem.nota_fiscal }}</td>
                <td>{{ margem.cliente }}</td>
                <td>R$ {{ "%.2f"|format(margem.total_preco_venda) }}</td>
                <td>R$ {{ "%.2f"|format(margem.total_custo) }}</td>
                <td>R$ {{ "%.2f"|format(margem.lucro_total) }}</td>
                <td>{{ "%.2f"|format(margem.margem_media) }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Totais da Remessa</h3>
    <table class="table table-bordered">
        <tr>
            <th>Total Preço Venda</th>
            <td>R$ {{ "%.2f"|format(totais.total_preco_venda) }}</td>
        </tr>
        <tr>
            <th>Total Custo</th>
            <td>R$ {{ "%.2f"|format(totais.total_custo) }}</td>
        </tr>
        <tr>
            <th>Lucro Total</th>
            <td>R$ {{ "%.2f"|format(totais.lucro_total) }}</td>
        </tr>
        <tr>
            <th>Margem Média</th>
            <td>{{ "%.2f"|format(totais.margem_media) }}%</td>
        </tr>
    </table>
    {% endif %}
    <br>
    <hr>
    <button class="btn btn-primary" onclick="window.print()">
        <i class="fa fa-print"></i> Imprimir
    </button>
</div>
<script>
    $(document).ready(function () {
        $('.select2').select2({
            placeholder: "Selecione",
            width: 'resolve'  // usa o valor definido no style (ex: 300px)
        });
    });
</script>

{% endblock %}