{% extends "base.html" %}

{% block content %}
    <h2>Custos Operacionais</h2>
    <a href="{{ url_for('routes.novo_custo') }}" class="btn btn-success mb-3"><i class="fas fa-plus"></i> Adicionar</a>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Unidade</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for custo in custos %}
                <tr>
                    <td>{{ custo.codigo }}</td>
                    <td>{{ custo.descricao }}</td>
                    <td>{{ custo.tipo }}</td>
                    <td>{{ custo.unidade_medida }}</td>
                    <td>R$ {{ "%.2f"|format(custo.preco) }}</td>
                    <td>
                        <a href="{{ url_for('routes.editar_custo', id=custo.id) }}" class="btn btn-warning btn-sm">Editar</a>
                        <form action="{{ url_for('routes.excluir_custo', id=custo.id) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza?')">Excluir</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
