{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Editar Funcionário</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            {{ form.nome(class="form-control", value=funcionario.nome) }}
        </div>

        <div class="mb-3">
            <label for="funcao" class="form-label">Função:</label>
            {{ form.funcao(class="form-control", value=funcionario.funcao) }}
        </div>
        <div class="col-md-3">
            <label class="form-label"><strong>Setor:</strong></label>
            {{ form.setor_id(class="form-select select2") }}
        </div>
        <hr>

        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Atualizar</button>
        <a href="{{ url_for('routes.listar_funcionarios') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}