{% extends "base.html" %}

{% block content %}
    <h2>Editar Mão de Obra</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.descricao.label(class="form-label") }}
            {{ form.descricao(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.salario_id.label(class="form-label") }}
            {{ form.salario_id(class="form-select") }}
        </div>

        <div class="mb-3">
            {{ form.multiplicador.label(class="form-label") }}
            {{ form.multiplicador(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{{ url_for('routes.listar_mao_de_obra') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
