{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Cadastro de Referência</h2>

    <form method="POST" action="{{ url_for('routes.nova_referencia') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label>Código da Referência</label>
            {{ form.codigo_referencia(class="form-control") }}
        </div>

        <div class="form-group">
            <label>Descrição</label>
            {{ form.descricao(class="form-control") }}
        </div>

        <div class="form-group">
            <label>Linha</label>
            {{ form.linha(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="colecao_id">Coleção</label>
            <select name="colecao_id" id="colecao_id" class="form-control">
                <option value="">Selecione uma coleção</option>
                {% for colecao in form.colecao_id.choices %}
                    <option value="{{ colecao[0] }}">{{ colecao[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <hr>

        <div class="form-group">
            <label>Imagem</label>
            {{ form.imagem(class="form-control-file") }}
        </div>
        <hr>

        <h4>Ficha Técnica</h4>
        <br>
        <hr>

        <h4> Solados </h4>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalSolado">
            Adicionar
        </button>
        <table class="table table-bordered" id="tabela-solado">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Consumo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h4> Alças </h4>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalAlca">
            Adicionar
        </button>
        <table class="table table-bordered" id="tabela-alca">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Consumo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h4>Componentes</h4>
        <button type="button" class="btn btn-primary mb-3 selecionar-componente" data-bs-toggle="modal" data-bs-target="#modalComponentes"
            data-tipo="componente">
            Adicionar
        </button>
        <table class="table table-bordered" id="tabela-componente">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Consumo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h4>Embalagem 1</h4>
        <button type="button" class="btn btn-success btn-sm selecionar-embalagem1" data-bs-toggle="modal" data-bs-target="#modalEmbalagem1"
            data-tipo="embalagem1">
            Adicionar
        </button>
        <table class="table" id="tabela-embalagem1">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Consumo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h4>Embalagem 2</h4>
        <button type="button" class="btn btn-success btn-sm selecionar-embalagem2" data-bs-toggle="modal" data-bs-target="#modalEmbalagem2"
            data-tipo="embalagem2">
            Adicionar
        </button>
        <table class="table" id="tabela-embalagem2">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Consumo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h4>Embalagem 3</h4>
        <button type="button" class="btn btn-success btn-sm selecionar-embalagem3" data-bs-toggle="modal" data-bs-target="#modalEmbalagem3"
            data-tipo="embalagem3">
            Adicionar
        </button>
        <table class="table" id="tabela-embalagem3">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Consumo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h4> Custos Operacionais</h4>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalCustos">
            Adicionar
        </button>
        <table class="table table-bordered" id="tabela-custo">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Consumo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h4> Custo Mão de Obra</h4>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalMaoObra">
            Adicionar
        </button>
        <table class="table table-bordered" id="tabela-mao_obra">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Diária</th>
                    <th>Consumo</th>
                    <th>Produção</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <!-- Inputs escondidos para salvar os totais -->
        <input type="hidden" name="total_solado" id="input_total_solado">
        <input type="hidden" name="total_alcas" id="input_total_alcas">
        <input type="hidden" name="total_componentes" id="input_total_componentes">
        <input type="hidden" name="total_embalagem1" id="input_total_embalagem1">
        <input type="hidden" name="total_embalagem2" id="input_total_embalagem2">
        <input type="hidden" name="total_embalagem3" id="input_total_embalagem3">
        <input type="hidden" name="total_operacional" id="input_total_operacional">
        <input type="hidden" name="total_mao_obra" id="input_total_mao_obra">

        <!-- Inputs escondidos para salvar totais por embalagem -->
        <input type="hidden" name="custo_total_embalagem1" id="input_custo_total_embalagem1">
        <input type="hidden" name="custo_total_embalagem2" id="input_custo_total_embalagem2">
        <input type="hidden" name="custo_total_embalagem3" id="input_custo_total_embalagem3">


        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{{ url_for('routes.listar_referencias') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
<!-- 🔹 Modais para seleção de itens -->
{% include 'modais_referencia.html' %}
<script src="{{ url_for('static', filename='js/referencia.js') }}"></script>

{% endblock %}