{% extends "base.html" %}

{% block content %}
<h2>Nova Máquina</h2>
<form method="POST" action="{{ url_for('routes.nova_maquina') }}">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.codigo.label(class="form-label") }}
        {{ form.codigo(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo de Máquina</label>
        {{ form.tipo_id(class_="form-select select2") }}
        {% for e in form.tipo_id.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
    </div>


    <div class="mb-3">
        {{ form.descricao.label(class="form-label") }}
        {{ form.descricao(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.status.label(class="form-label") }}
        {{ form.status(class="form-select") }}
    </div>

    <div class="mb-3">
        {{ form.preco.label(class="form-label") }}
        {{ form.preco(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Salvar</button>
    <a href="{{ url_for('routes.listar_maquinas') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}