{% extends "base.html" %}
{% block content %}
<h2>Nova Produção Diária</h2>
<hr>

<form method="post">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.data_producao.label(class="form-label") }}
        {{ form.data_producao(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.quantidade.label(class="form-label") }}
        {{ form.quantidade(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.planejamento_id.label(class="form-label") }}
        {{ form.planejamento_id(class="form-select select2") }}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    <a href="{{ url_for('routes.listar_prodfat') }}" class="btn btn-secondary">Cancelar</a>
</form>
<hr>

<h5 class="mb-3">Importar Produção Diária</h5>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('routes.importar_producao_faturamento') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label">Arquivo Excel (.xlsx)</label>
            <input type="file" name="arquivo" accept=".xlsx" class="form-control" required>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-file-import"></i> Importar
            </button>
        </div>
    </div>
</form>

<div class="alert alert-info">
    <strong>Layout da Planilha:</strong><br>
    A primeira linha deve conter os seguintes cabeçalhos:<br>
    <code>SETOR | DATA | REMESSA | LINHA | REF | QTD </code><br>
    A coluna <code> SETOR </code> é opicional.<br>

</div>

<!-- Select2 JS/CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.select2').select2({ width: '100%' });
    });
</script>
{% endblock %}