{% extends 'base.html' %}

{% block content %}
<h2>Nova Linha</h2>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="row mb-3">
        <div class="col-md-4">
        {{ form.nome.label(class="form-label") }}
        {{ form.nome(class="form-control") }}
        </div>
        <div class="col-md-4">
            {{ form.grupo.label(class="form-label") }}
            {{ form.grupo(class="form-select") }}
            </div>
    </div>
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Salvar</button>
    <a href="{{ url_for('routes.listar_linhas') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
