{% extends "base.html" %}

{% block content %}

<div class="card mt-4 shadow-sm">
    <div class="alert alert-info">
      <h6 class="card-title mb-3">📥 Importar Componentes (.xlsx)</h6>
      <p class="text-muted mb-3">Apenas arquivos <strong>.xlsx</strong> (Excel) são permitidos.</p>
      <p class="text-muted mb-3">Colunas: <code>|codigo |descricao |tipo |unidade_medida| preco|</code></p>
      <form method="POST" action="{{ url_for('routes.importar_componentes') }}" enctype="multipart/form-data">
        <div class="row g-2 align-items-center">
          <div class="col-auto">
            <input type="file" name="file" accept=".xls,.xlsx" class="form-control form-control-sm" required>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-primary">
              <i class="fas fa-upload me-1"></i> Importar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  
<hr>
<h2>Novo Componente</h2>
<hr>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.codigo.label(class="form-label") }}
        {{ form.codigo(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.descricao.label(class="form-label") }}
        {{ form.descricao(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.tipo.label(class="form-label") }}
        {{ form.tipo(class="form-select") }}
    </div>

    <div class="mb-3">
        {{ form.unidade_medida.label(class="form-label") }}
        {{ form.unidade_medida(class="form-select") }}
    </div>

    <div class="mb-3">
        {{ form.preco.label(class="form-label") }}
        {{ form.preco(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> {{ form.submit.label.text }}</button>
    <a href="{{ url_for('routes.listar_componentes') }}" class="btn btn-secondary">Cancelar</a>
</form>

<script>
    function importarComponentes() {
        let fileInput = document.getElementById('fileInput');
        let file = fileInput.files[0];

        if (!file) {
            alert('Por favor, selecione um arquivo.');
            return;
        }

        let formData = new FormData();
        formData.append("file", file);

        fetch("{{ url_for('routes.importar_componentes') }}", {
            method: "POST",
            body: formData
        })
            .then(() => {
                window.location.href = "{{ url_for('routes.listar_componentes') }}";  // 🔹 Redireciona para listar componentes
            })
            .catch(error => console.error('Erro:', error));
    }
</script>



{% endblock %}