{% extends "base.html" %}

{% block content %}
    <h2>Referências</h2>
    <br>
    <a href="{{ url_for('routes.nova_referencia') }}" class="btn btn-primary">Nova Referência</a>
    <h5>Filtrar Referência</h5>
    <a href="{{ url_for('routes.listar_referencias', filtro='TODAS') }}" class="btn btn-dark">TODAS</a>
    <a href="{{ url_for('routes.listar_referencias', filtro='VZ') }}" class="btn btn-dark">VZ</a>
    <a href="{{ url_for('routes.listar_referencias', filtro='BK') }}" class="btn btn-dark">BK</a>
    <a href="{{ url_for('routes.listar_referencias', filtro='MAC') }}" class="btn btn-dark">MAC</a>
    <a href="{{ url_for('routes.listar_referencias', filtro='DULT') }}" class="btn btn-dark">DULT</a>
    <hr>

    <!-- 🔎 Campo de busca -->
    <div class="row mb-3">
        <div class="col-md-4"> <!-- Define um tamanho menor para o campo -->
            <form method="GET" action="{{ url_for('routes.listar_referencias') }}" class="d-flex">
                <input type="text" name="filtro" class="form-control form-control-sm" placeholder="Buscar referência"
                    value="{{ request.args.get('filtro', '') }}">
                <button type="submit" class="btn btn-primary btn-sm ms-2">Buscar</button>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for referencia in referencias %}
                    <tr>
                        <td>{{ referencia.codigo_referencia }}</td>
                        <td>{{ referencia.descricao }}</td>
                        <td>
                            {% if referencia.imagem %}
                                <img src="{{ url_for('static', filename='uploads/' + referencia.imagem) }}" width="80">
                            {% else %}
                                Sem imagem
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('routes.editar_referencia', id=referencia.id) }}" class="btn btn-warning btn-sm">Editar</a>
                            <form action="{{ url_for('routes.excluir_referencia', id=referencia.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza?')">Excluir</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
